.card{
    float:left;
    overflow:hidden;
    background-color:#fff;
    -webkit-border-radius:10px;
    border-radius:10px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.1),0 2px 5px 0 transparent;
    -webkit-transition:box-shadow .25s ease;
    -moz-transition:box-shadow .25s ease;
    -o-transition:box-shadow .25s ease;
    transition:box-shadow .25s ease;
    width:188px;
	min-height:100px;
	padding: 15px;
	background:#fff;
	margin:8px;
	font-size:12px;
	float:left;

}


#centrar {
    position:relative; 
    top: 65px; 
    margin: 0 auto;
    width: 900px;
}

#container{
	position:relative;
	width:1100px;
	margin:0 auto 25px;
	padding-bottom: 10px;
	
}
.card{
	width:188px;
	min-height:100px;
	padding: 15px;
	background:#fff;
	margin:8px;
	font-size:12px;
	float:left;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	
	-webkit-transition: top 1s ease, left 1s ease;
	-moz-transition: top 1s ease, left 1s ease;
	-o-transition: top 1s ease, left 1s ease;
	-ms-transition: top 1s ease, left 1s ease;
}

.grid strong {
	border-bottom:1px solid #ccc;
	margin:10px 0;
	display:block;
	padding:0 0 5px;
	font-size:17px;
}
.grid .meta{
	text-align:right;
	color:#777;
	font-style:italic;
}
.grid .imgholder img{
	max-width:100%;
	background:#ccc;
	display:block;
}

@media screen and (max-width : 1240px) {
	body{
		overflow:auto;
	}
}
@media screen and (max-width : 900px) {
	#backlinks{
		float:none;
		clear:both;
	}
	#backlinks a{
		display:inline-block;
		padding-right:20px;
	}
	#wrapper{
		margin-top:90px;
	}
}